@model List<Category>

<div class="Container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="text-primary">Catagory List</h2>
        </div>
        <div class="col-6 text-end">
            <a  asp-controller="Category" asp-action="Create" class="btn btn-primary rounded">Create New Catagory <i class="bi bi-cloud-plus-fill"></i></a>
        </div>
    </div>

<table class="table table-bordered table-striped rounded text-center">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>Display Order</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var o in Model.OrderByDescending(u=>u.DisplayOrder))
        {
            <tr>
                <td>@o.Name</td>
                <td>@o.DisplayOrder</td>
                <td> 
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-route-id="@o.Id" asp-action="Edit" class="btn rounded btn-outline-success mx-2"><i class="bi bi-pen-fill"></i> Edit</a>
                            <a asp-controller="Category" asp-route-id="@o.Id" asp-action="Delete" class="btn rounded btn-outline-danger mx-2"><i class="bi bi-x-octagon-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
</div>